@tailwind base;
@tailwind components;
@tailwind utilities;

.swipe-action__leading{
    background-color: rgb(14 165 233);
    color: white;
    margin-bottom: 1rem;
}
.swipe-action__trailing{
    background-color: #db2777;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.swipeable-list .swipe-action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}